name: Langs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate SVG
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python3 generate_langs.py

      - name: Commit
        run: |
          git config user.name github-actions
          git config user.email actions@github.com
          git add langs.svg
          git commit -m "update langs" || exit 0
          git push